<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>791784054069-als655sb6q1hu2r906muqvslipqsg77a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.791784054069-als655sb6q1hu2r906muqvslipqsg77a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>791784054069-dcqg619qt2gtv141ga12uhsgf15p43b9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBzmdCFqrfHnTBGGxzDZ6Cy4-xOpMU-tXk</string>
	<key>GCM_SENDER_ID</key>
	<string>791784054069</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.googleclassroomClone</string>
	<key>PROJECT_ID</key>
	<string>classroom-2ba8b</string>
	<key>STORAGE_BUCKET</key>
	<string>classroom-2ba8b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:791784054069:ios:71959c794425c6ac2f407c</string>
	<key>DATABASE_URL</key>
	<string>https://classroom-2ba8b-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>